table.dataTable tbody tr.selected {
    color: white !important;
    background-color: #435C75 !important;
}

table.dataTable tbody tr:hover {
	background-color: #c2cde2;
	cursor: pointer;
}

/* table.dataTable tbody tr:hover td button {
	opacity: 0.1 !important;
}

table.dataTable tbody tr.selected td button {
	opacity: 0.8 !important;
}

table.dataTable tbody tr.selected td button:hover {
	opacity: 1 !important;
} */

@media (hover: hover) and (pointer: fine) {
	table.dataTable tbody tr:hover td button {
		opacity: 0.1 !important;
	}
	
	table.dataTable tbody tr.selected td button {
		opacity: 0.8 !important;
	}
	
	table.dataTable tbody tr.selected td button:hover {
		opacity: 1 !important;
	}
}

@media (hover: none) {
	table.dataTable tbody tr.selected td button {
		opacity: 0.8 !important;
	}

	table.dataTable tbody tr.selected + tr.child td button {
		opacity: 0.8 !important;
	}

}

.page-item.active .page-link {
    background-color: #435C75 !important;
    border: none !important;
	color: white !important;
}
.page-link {
    color: #002846 !important;
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.modal-footer button.loading:before {
	animation: spin 2s ease-in-out infinite;
	display: inline-block; /* necessary to animate element */
    content: '\f110';
	font-family: FontAwesome;
	margin-right: 10px;
}


:root {
	--zoom-in-start-pos-top: 0;
	--zoom-in-start-pos-left: 0;
}

@keyframes zoomIn {
	0% {
		
		transform: scale(0.1);
		transform-origin: top left;
		top: var(--zoom-in-start-pos-top);
		left: var(--zoom-in-start-pos-left);
	}
	50% {
		
		transform: scale(0.3);
		transform-origin: top left;
	}
	100% { /* Should be the same as modal-dialog*/
		transform: scale(1);
		transform-origin: top left;
		top: 0;
		left: 0;
	}
}

.modal-dialog {
	animation: zoomIn 0.35s ease-in;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal{
    display: flex !important;
	flex-direction: column !important;
}


.modal-field-changed-label:after {
    content: '(Edited)';
	color: red;
	margin-left: 5px;
}


/* .modal-content{
    display: flex !important;
	flex-direction: column !important;
}
.modal-header{
	flex-shrink: 0 !important;
}
.modal-footer{
	flex-shrink: 0 !important;
}

.modal-body{
	overflow-y: auto !important;
} */


/* 
.btn.dt-export {
	width: 40px !important;
	background-color: #000044b0;
	opacity: 0.8;
}

.btn.dt-export:hover {opacity: 1}

.btn.dt-export:after {
	content: '\f56e';
	font-family: FontAwesome;
}

.btn.dt-excel {
	width: 40px !important;
	background-color: #505050;
	opacity: 0.8;
}

.btn.dt-excel:hover {opacity: 1}

.btn.dt-excel:after {
	content: '\f1c3';
	font-family: FontAwesome;
}

.btn.dt-csv {
	width: 40px !important;
	background-color: #505050;
	opacity: 0.8;
}

.btn.dt-csv:hover {opacity: 1}

.btn.dt-csv:after {
	content: '\f6dd';
	font-family: FontAwesome;
} */



/*
NOT WORKING (FOR REFERENCE ONLY)
div.dataTables_paginate ul.pagination li.paginate_button.previous a {
    display: none;
    background-color: #435C75 !important;
}

div.dataTables_paginate ul.pagination li.paginate_button.previous:after {
    content: '<';
  } */